@import '../../sass/abstracts/variables';

.nav {
    display: flex;
    align-items: center;

    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1.5rem 10rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 1.3rem 4rem;
    }

    @media only screen and (max-width: $bp-medium-2) {
        padding: 1.3rem 2rem;
    }

    &__header {
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    &__header-icon {
        font-size: 2rem;
        margin-right: 1rem;
        display: none;

        @media only screen and (max-width: $bp-tab) {
            display: block;
        }
    }

    &__heading {
        font-weight: 300;

        @media only screen and (max-width: $bp-medium-2) {
            font-size: 1.4rem;
        }

        @media only screen and (max-width: $bp-phone) {
            font-size: 1.2rem;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        list-style-type: none;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all .1s;
        margin-left: 2rem;
        color: $color-white;
        text-decoration: none;

        @media only screen and (max-width: $bp-medium-2) {
            margin-left: 1rem;
        }

        @media only screen and (max-width: $bp-phone) {
            font-size: 1.2rem;
        }

        &:hover {
            text-decoration: underline;
            transform: scale(1.1);
        }

        & span {
            margin-right: .5rem;
        }
    }
}